/**
	Color Scheme:
		#08090A
		#F7F0F0
		#A7A2A9
		#575A5E
		#222823
*/
.player-quickinfo {
	background-color: #575A5E;
	color: #F7F0F0;
	
	position: relative;
	margin-top: 5%;
	padding-top: 4px;
	padding-bottom: 4px;
	
	font-family: 'Livvic', sans-serif;
}
.player-musiclist {
	background-color: #A7A2A9;
	
	position: relative;
	min-height: 45vh;
	
	overflow-y: scroll;
	
	font-family: 'Livvic', sans-serif;
}
.musiclist-option {
	list-style: none;
}
.musiclist-option:hover {
	cursor: pointer;
}
.player-songinfo {
	background-color: #A7A2A9;
	
	font-family: 'Livvic', sans-serif;
}
.songinfo-image {
	width: 35%;
	
	float: left;
	margin-top: 10px;
}
.songinfo-detail {
	float: left;
	width: 63%;
	margin-left: 10px;
	margin-top: 10px;
}
.player-functions {
	text-align: center;
	
	background-color: #222823;
	color: #F7F0F0;
	
	padding-top: 10px;
	padding-bottoM: 20px;
	
	font-family: 'Livvic', sans-serif;
	font-size: 24px;
}
.player-functions i {
	margin-right: 20px;
}
.player-seeker-bar {
	position: absolute;
	left: 0;
	top: 52px;
	width: 100%;
	height: 3px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	background-color: #F7F0F0;
}
.player-seeker-bar::-webkit-slider-thumb, .player-seeker-bar::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 0px;
	height: 0px;
}
.player-seeker-endpoint {
	position: absolute;
	font-size: 16px;
	color: #e57e1d;
	top: 45px;
}
.volume-slider {
	width: 100px;
	left: 5%;
	position: absolute;
}

.button:hover {
	cursor: pointer;
}